{% extends "auctions/layout.html" %}
{% block body %}
    {% if user.is_authenticated %}
    <h2>{{title}}</h2>
    <hr>
        <br style="margin-left: 50px;">
        {% for i in datas %}
            <img src="{{i.photo_url}}" width="200" height="200">
        <a href="{% url 'active_listening' i.id %}" style="padding-left: 50px;">
                {{i.item}}  &nbsp;
        </a>
        <div style="padding-left: 250px; margin-bottom: 80px;"><h6>Current Price: ${{i.price}}</h6><br>{{i.description}}</div>
        <a href="{% url 'category' i.category %}" class="badge badge-secondary badge-pill">{{ i.category }}</a>
        <hr>
        {% endfor %}
    {% endif %}
{% endblock %}